{% if comments %}
    {% for comment in comments %}
        <div class="col-sm-2">
            <div class="thumbnail">
                <img class="img-responsive user-photo"
                     src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
        </div>

        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ comment.user.username }}</strong> <span class="text-muted"
                                                                       style="position: absolute; right: 0;">{{ comment.created }}</span>
                </div>
                <div class="panel-body">
                    {{ comment.text }}
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
    <div>Никто еще не оставил комментариев</div><br><br>
{% endif %}

<form method="POST" id="comment" action="{% url 'add_comment' product_id %}">
    {% csrf_token %}
    <textarea id="comment_text" maxlength="1024" name="comment_text" class="form-control comment"
              required></textarea>
    <span class="form-error"></span>
    <button type="submit" class="btn btn-sm btn-info">Добавить комментарий</button>
</form>