{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3 class="text-center">Товары в корзине</h3>
                <form class="form-horizontal" action="{% url 'checkout' %}" method="POST">
                    {% csrf_token %}


                    <div class="col-lg-5">
                        <div class="form-group">
                            <span class="form-error">{{ contact_form.phone.errors }}</span>

                            <label>Имя: </label>
                            <input type="text" value="{{ request.POST.name }}"
                                   name="{{ contact_form.name.html_name }}" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-5 col-lg-offset-1">
                        <div class="form-group">
                            <span class="form-error">{{ contact_form.phone.errors }}</span>

                            <label>Телефон: </label>
                            <input type="text" value="{{ request.POST.phone }}"
                                   name="{{ contact_form.phone.html_name }}" class="form-control phone">
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Название товара</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Стоимость</th>
                        </tr>
                        </thead>
                        <tbody>

                         {% for k, v in products_in_basket.items %}
                            <tr>
                                <td>
                                    {{ v.name }}
                                </td>
                                <td>
                                    <input class="product-in-basket-count" type="number"
                                           value="{{ v.count }}" min="1"
                                           name="product_in_basket_{{ k }}">

                                </td>
                                <td>
                                    <span class="product-price">{{ v.price }}</span>

                                </td>
                                <td>
                                    <span class="total_product_in_basket_amount"></span>

                                </td>
                            </tr>




                        {% endfor %}

                        </tbody>
                    </table>

                    <div class="text-right">
                        <b>Общая стоимость: </b><span id="total_order_amount">1005050</span>
                    </div>
                    <br>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary bnt-lg">Заказать</button>
                    </div>
                </form>
            </div>


        </div>
    </div>


{% endblock %}