{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Roboto font-family -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400&amp;subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


</head>
<body>

<div class="general-container">
    <div class="container top-container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="title">Наш магазин скоро откроется!
                    Оставляйте ваш email в форме ниже:</h1>

                <div>
                    <form action="" method="POST" class="form-inline text-center"> {% csrf_token %}
                        <div class="form-group">
                            <label for="email">Ваш email: </label>
                            <input id="email" placeholder="john@example.com" name="{{ form.email.name }}"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">Ваше имя: </label>
                            <input id="name" placeholder="John Smith" name="{{ form.name.name }}" class="form-control">
                        </div>
                        <input type="submit" class="btn btn-primary btn-orange" value="Отправить">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- JQuery -->
<script src="http://code.jquery.com/jquery-2.0.0.js"></script>

<!-- Bootstrap JS -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>




</body>
</html>